<!DOCTYPE html>
<html>
<head>
  <title>Ny side</title>
</head>
<body>
<div class="container">
  <h1>Dette er den nye siden</h1>
  <p>Her kan du legge til innhold spesifikt for den nye siden.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae nisl vitae urna tempor dapibus sed non urna. Donec non faucibus quam. In eleifend felis non tempus eleifend. Cras fringilla vestibulum nulla id fermentum. Aliquam ac turpis nisi. Vestibulum interdum posuere tortor, nec vestibulum est semper nec. Nullam vestibulum dolor vitae magna egestas dictum.</p>
</div>
</body>
</html>
